div {
    
    /* No */
    background:url('//domain.com/absolute/path/asset.jpg');
    background:url('http://domain.com/absolute/path/asset.jpg');
    background:url('https://domain.com/absolute/path/asset.jpg');
    background:url('ftp://domain.com/absolute/path/asset.jpg');
    background:url('data:image/png;base64,iVBORw0KGgoAAAAN');
    background:url('/absolute/path/asset.jpg');
    
    background:url(//domain.com/absolute/path/asset.jpg);
    background:url(http://domain.com/absolute/path/asset.jpg);
    background:url(https://domain.com/absolute/path/asset.jpg);
    background:url(ftp://domain.com/absolute/path/asset.jpg);
    background:url(data:image/png;base64,iVBORw0KGgoAAAAN);
    background:url(/absolute/path/asset.jpg);
    
    /* Yes */
    background:url('relative/path/asset.jpg');
    background:url('../../relative/path/asset.jpg');
    background:url( '../../relative/path/asset.jpg' );
    
    background:url(relative/path/asset.jpg);
    background:url(../../relative/path/asset.jpg);
    background:url( ../../relative/path/asset.jpg );
}