/* a.css */

@import 'global.css';
@import url( 'a/a.css' ) screen and ( min-width: 200px ), print and ( color );

#a > a {
    color:rgb(0, 121, 0);
    background-image: url('../images/checkmark.png');
}