/* global.css */

#a > a,
#a-a > a,
#a-aa-aa > a {
    color:rgb(255, 0, 0);
    padding:20px 15px 20px 65px;
    background-repeat:no-repeat;
    background-position:10px center;
    background-image:url('../images/x.png');
}

/*
http://thecodeplayer.com/walkthrough/css3-family-tree
*/
* {
    margin: 0;
    padding: 0;
}
.tree ul {
    padding-top: 20px;
    position: relative;
}
.tree li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
}

/*
We will use ::before and ::after to draw the connectors
*/
.tree li::before,
.tree li::after {
    top:0;
    width:50%;
    right:50%;
    content:'';
    height:20px;
    position:absolute;
    border-top:1px solid #ccc;
}
.tree li::after {
    left:50%;
    right:auto;
    border-left:1px solid #ccc;
}

/*
We need to remove left-right connectors from elements without any siblings
*/
.tree li:only-child::after, 
.tree li:only-child::before {
    display: none;
}

/*
Remove space from the top of single children
*/
.tree li:only-child {
    padding-top: 0;
}

/*
Remove left connector from first child and right connector from last child*/
.tree li:first-child::before,
.tree li:last-child::after {
    border: 0 none;
}
/*
Adding back the vertical connector to the last nodes
*/
.tree li:last-child::before {
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
}
.tree li:first-child::after {
    border-radius: 5px 0 0 0;
}

/*
Time to add downward connectors from parents
*/
.tree ul ul::before {
    top:0;
    width:0;
    left:50%;
    content:'';
    height:20px;
    position:absolute;
    border-left:1px solid #ccc;
}
.tree li a {
    color:#666;
    font-size:24px;
    padding:5px 10px;
    border-radius:5px;
    text-decoration:none;
    display:inline-block;
    border:1px solid #ccc;
    font-family:arial, verdana, tahoma;
}

/*
Time for some hover effects
We will apply the hover effect the the lineage of the element also
*/
.tree li a:hover,
.tree li a:hover+ul li a {
    border:1px solid #94a0b4;
}

/*
Connector styles on hover
*/
.tree li a:hover+ul li::after,
.tree li a:hover+ul li::before,
.tree li a:hover+ul::before,
.tree li a:hover+ul ul::before {
    border-color: #94a0b4;
}